//Responsive Width
$mobile-width : 375px;
$desktop-width : 1440px;

// Colors

$primary1 : hsl(0, 36%, 70%);
$primary2 : hsl(0, 93%, 68%);
$neutral : hsl(0, 6%, 24%);

// Gradients

$gradient1 : 135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%);
$gradient2 : 135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%);

// Fonts
$font : "Josefin Sans", sans-serif;